/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
}

/* all tags */
* {
    color:black;
    text-align:center;
    background-color:red;
}

/* p font size */
p {
    font-size:150%;
}

/* h6 font size */
h6 {
    font-size:200%;
}

/* a font size */
a {
    font-size:200%;
}

/* p1 font color*/
p {
    color:black;
}
